<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<div class="header-container">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a href="#" src="assets/images/woe.png" (click)="navigateHome()">
        <img class="logo" src="assets/images/woe.png">
      </a>
    </div>
  </div>

  <div class="header-container">
    <div>
      <button *ngIf="!loggedIn" class="enableEthereumButton walletbutton" (click)="getAccount()" style="background-color: black">CONNECT WALLET</button>
        <span class="showAccount" *ngIf="loggedIn">Account: {{this.showAccount}}</span>
    </div>
</div>
