<div class="header-container">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
      </a>
      <a href="#" src="assets/images/woe.png" (click)="navigateHome()">
        <img class="logo" src="assets/images/woe.png">
      </a>
    </div>
  </div>

  <div class="header-container">
    <div>
      <button *ngIf="!loggedIn" class="enableEthereumButton" (click)="getAccount()">Enable Ethereum</button>
      <h2 *ngIf="loggedIn">Account: {{this.showAccount}}<span class="showAccount"></span></h2>
    </div>
</div>
