<div *ngIf="this.hasWizard" class="dashBoard">
  <div class="row rowWrapper">
    <div class="colwizard">
      <nb-card class="">
        <div class="cardBlock">
          <div class="cardHeader headerBgWHite flexBox">
            <div class="flexColLeft">
              <!-- <label for="wizards">Wizard</label> -->
              <h4 class="cardTitle">Wizards</h4>
            </div>
            <div class="flexColRight">
              <select name="wizards" id="wizards" (change)="loadSelectedWizard($any($event.target).value)">
                <option *ngFor="let wizard of wizards$; let i = index" value="{{ wizard.token_id }},{{ i }}">
                  {{ wizard.token_id }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!-- <img style="" src="{{ this.imgUrl.image }}" /> -->
        <div class="flexColRight">
          <div class="cardImg">
            <img style="" src="{{ this.imgUrl.image }}" alt="Wizard" />
          </div>
        </div>
      </nb-card>
    </div>

    <div class="colWizardType">
      <nb-card class="">
        <div class="cardBlock">
          <div class="cardHeader headerBgWHite flexBox">
            <div class="flexColLeft">
              <h4 class="cardTitle">
                Wizard Type
                <span class="typeIcon">
                  <img src="assets/images/{{ this.wizard.type }}.png"
                    style="width: 35px; position: sticky;" />
                </span>
              </h4>
            </div>

            <div class="flexColRight">
              <h4 class="cardTitle">Level {{ this.wizard.level }}</h4>
            </div>
          </div>
        </div>

        <div class="attribute_block">
          <div class="innerTitle">
            <div class="subTitle">
              <div class="name">
                <h4 class="font-22">
                  Name:
                  <span class="nameType">{{ this.wizard.name }}</span>
                </h4>
              </div>
            </div>
            <div class="subTitle">
              <div class="name">
                <h4 class="font-22">
                  Region:
                  <span class="nameType">{{ this.wizard.region }}</span>
                </h4>
              </div>
            </div>
            <div class="subTitle">
              <div class="name">
                <h4 class="font-22">
                  Profession:
                  <span class="nameType">{{this.wizard.profession}}</span>
                </h4>
              </div>
            </div>
          </div>
          <div class="calcProgress">
            <div class="progressRow">
              <div class="progressLeft">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-22">Strength</h4>
                  </div>
                  <div class="col--65">
                    <div class="progress">
                      <progress
                        class="progress-bar"
                        role="progressbar"
                        value="{{this.wizard.str}}"
                        max="10"
                      >
                      </progress>
                    </div>
                  </div>
                </div>
              </div>
              <div class="progressRight">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-18">LEVEL: {{ this.wizard.str }}</h4>
                  </div>
                  <div class="col--65">
                    <div class="upgradeBtn">
                      <button type="button" class="btn primaryBtn">
                        UPGRADE
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progressRow">
              <div class="progressLeft">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-22">Speed</h4>
                  </div>
                  <div class="col--65">
                    <div class="progress">
                      <progress
                        class="progress-bar"
                        role="progressbar"
                        value="{{this.wizard.speed}}"
                        max="10"
                      >
                      </progress>
                    </div>
                  </div>
                </div>
              </div>
              <div class="progressRight">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-18">LEVEL: {{ this.wizard.speed }}</h4>
                  </div>
                  <div class="col--65">
                    <div class="upgradeBtn">
                      <button type="button" class="btn primaryBtn">
                        UPGRADE
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progressRow">
              <div class="progressLeft">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-22">Stamina</h4>
                  </div>
                  <div class="col--65">
                    <div class="progress">
                      <progress
                        class="progress-bar"
                        role="progressbar"
                        value="{{this.wizard.stamina}}"
                        max="10"
                      >
                      </progress>
                    </div>
                  </div>
                </div>
              </div>
              <div class="progressRight">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-18">LEVEL: {{ this.wizard.stamina }}</h4>
                  </div>
                  <div class="col--65">
                    <div class="upgradeBtn">
                      <button type="button" class="btn primaryBtn">
                        UPGRADE
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progressRow">
              <div class="progressLeft">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-22">Intelligence</h4>
                  </div>
                  <div class="col--65">
                    <div class="progress">
                      <progress
                        class="progress-bar"
                        role="progressbar"
                        value="{{this.wizard.intel}}"
                        max="10"
                      >
                      </progress>
                    </div>
                  </div>
                </div>
              </div>
              <div class="progressRight">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-18">LEVEL: {{ this.wizard.intel }}</h4>
                  </div>
                  <div class="col--65">
                    <div class="upgradeBtn">
                      <button type="button" class="btn primaryBtn">
                        UPGRADE
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="progressRow">
              <div class="progressLeft">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-22">Spells</h4>
                  </div>
                  <div class="col--65">
                    <div class="progress">
                      <progress
                        class="progress-bar"
                        role="progressbar"
                        value="{{this.wizard.spells}}"
                        max="10"
                      >
                      </progress>
                    </div>
                  </div>
                </div>
              </div>
              <div class="progressRight">
                <div class="innerRow">
                  <div class="col--35">
                    <h4 class="font-18">LEVEL: {{ this.wizard.spells }}</h4>
                  </div>
                  <div class="col--65">
                    <div class="upgradeBtn">
                      <button type="button" class="btn primaryBtn">
                        UPGRADE
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="countLevel">
            <label id="wiz_attribute">Strength</label>
            <progress id="strength" value="{{ this.wizard.str }}" max="100">
              {{ this.wizard.str }}%
            </progress>
            <span id="level_rank">LEVEL: {{ this.wizard.str }}</span>
            <button nbButton hero outline status="success" size="tiny">
              UPGRADE
            </button>
          </div>
          <div class="countLevel">
            <label id="wiz_attribute">Speed</label>
            <progress id="speed" value="{{ this.wizard.speed }}" max="100">
              {{ this.wizard.speed }}%
            </progress>
            <span id="level_rank">LEVEL: {{ this.wizard.speed }}</span>
            <button nbButton hero outline status="success" size="tiny">
              UPGRADE
            </button>
          </div>
          <div class="countLevel">
            <label id="wiz_attribute">Stamina</label>
            <progress id="stamina" value="{{ this.wizard.stamina }}" max="100">
              {{ this.wizard.stamina }}%
            </progress>
            <span id="level_rank">LEVEL: {{ this.wizard.stamina }}</span>
            <button nbButton hero outline status="success" size="tiny">
              UPGRADE
            </button>
          </div>
          <div class="countLevel">
            <label id="wiz_attribute">Intelligence</label>
            <progress id="intelligence" value="{{ this.wizard.intel }}" max="100">
              {{ this.wizard.intel }}%
            </progress>
            <span id="level_rank">LEVEL: {{ this.wizard.intel }}</span>
            <button nbButton hero outline status="success" size="tiny">
              UPGRADE
            </button>
          </div>
          <div class="countLevel">
            <label id="wiz_attribute">Spells</label>
            <progress id="spells" value="{{ this.wizard.spells }}" max="100">
              {{ this.wizard.spells }}%
            </progress>
            <span id="level_rank">LEVEL: {{ this.wizard.spells }}</span>
            <button nbButton hero outline status="success" size="tiny">
              UPGRADE
            </button>
          </div> -->
        </div>
      </nb-card>
    </div>

    <div class="colSpells">
      <nb-card class="">
        <div class="cardBlock">
          <div class="cardHeader headerBgWHite noFlexBox">
            <h4 class="cardTitle">SPELLS</h4>
          </div>
        </div>
        <nb-list class="cardList">
          <nb-list-item>LUCIS</nb-list-item>
          <nb-list-item>ETHENOS</nb-list-item>
          <nb-list-item>CRUXIX</nb-list-item>
          <nb-list-item>APEREOS</nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>

  <div class="row rowWrapper">
    <div class="colwizard">
      <nb-card class="">
        <div class="cardBlock">
          <div class="cardHeader headerBgWHite noFlexBox">
            <h4 class="cardTitle">XP and Stats Boosted</h4>
          </div>
        </div>
        <nb-list class="cardList">
          <nb-list-item>
            <span class="titleWidth"> XP Available - </span>
            <span class="countWidth"> &nbsp;Coming Soon</span>
          </nb-list-item>
          <nb-list-item>
            <span class="titleWidth"> Stats Boosted - </span>
            <span class="countWidth"> &nbsp;Coming Soon</span>
          </nb-list-item>
        </nb-list>
      </nb-card>
    </div>
    <div class="colWizardJournal">
      <nb-card>
        <div class="cardBlock">
          <div class="cardHeader headerBgWHite flexBox">
            <h4 class="cardTitle">Wizard Journal</h4>
          </div>
        </div>
        <div class="wizardJournalMsg" id="journal" name="journal">
          <div class="msgBlock">
            Be careful, wizard. Your choices matter. They will appear here.
          </div>
        </div>
      </nb-card>
    </div>
  </div>
</div>
