<label for="wizards">Wizard:</label>
<select name="wizards" id="wizards"  (change)="loadSelectedWizard($any($event.target).value)">
<option *ngFor = "let wizard of wizards$, let i = index" value="{{wizard.token_id}},{{i}}">{{wizard.token_id}}</option>
</select>

<div class="row">
  <div class="col-lg-4">
    <nb-card class="">
      <img src="{{this.imgUrl.image}}">
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card class="">

          <div style="display: block; margin-bottom: 10px;">
            <label>Wizard Type: {{this.wizard.type}}</label>
            <img src="assets/images/fire.png" style="width: 55px; position: relative;">
            <span id="level">Level {{this.wizard.level}}</span>
          </div>

          <div class="attribute_block">
            <div>
              <label id="wiz_attribute">Strength</label>
              <progress id="strength" value="{{this.wizard.str}}" max="100">{{this.wizard.str}}%</progress>
              <span id="level_rank">LEVEL: {{this.wizard.str}}</span>
              <button nbButton hero outline status="success" size="tiny" >
                UPGRADE
              </button>
            </div>
            <div>
              <label id="wiz_attribute">Speed</label>
              <progress id="speed" value="{{this.wizard.speed}}" max="100">{{this.wizard.speed}}%</progress>
              <span id="level_rank">LEVEL: {{this.wizard.speed}}</span>
              <button nbButton hero outline status="success" size="tiny" >
                UPGRADE
              </button>
            </div>
            <div >
              <label id="wiz_attribute">Stamina</label>
              <progress id="stamina" value="{{this.wizard.stamina}}" max="100">{{this.wizard.stamina}}%</progress>
              <span id="level_rank">LEVEL: {{this.wizard.stamina}}</span>
              <button nbButton hero outline status="success" size="tiny" >
                UPGRADE
              </button>
            </div>
            <div >
              <label id="wiz_attribute">Intelligence</label>
              <progress id="intelligence" value="{{this.wizard.intel}}" max="100">{{this.wizard.intel}}%</progress>
              <span id="level_rank">LEVEL: {{this.wizard.intel}}</span>
              <button nbButton hero outline status="success" size="tiny" >
                UPGRADE
              </button>
            </div>
            <div >
              <label id="wiz_attribute">Spells</label>
              <progress id="spells" value="{{this.wizard.spells}}" max="100">{{this.wizard.spells}}%</progress>
              <span id="level_rank">LEVEL: {{this.wizard.spells}}</span>
              <button nbButton hero outline status="success" size="tiny" >
                UPGRADE
              </button>
            </div>
          </div>

    </nb-card>
  </div>

  <div class="col-lg-2">
    <div class="col">
      <nb-card class="">
        <nb-card-header>SPELLS</nb-card-header>
        <nb-list>
          <nb-list-item>LUCIS</nb-list-item>
          <nb-list-item>ETHENOS</nb-list-item>
          <nb-list-item>CRUXIX</nb-list-item>
          <nb-list-item>APEREOS</nb-list-item>
        </nb-list>
      </nb-card>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <nb-card class="">
      <nb-card-header>Token and XP</nb-card-header>
        <nb-list>
          <nb-list-item>XP Available</nb-list-item>
          <nb-list-item>Tokens Available</nb-list-item>
          <nb-list-item>Stats Boosted</nb-list-item>
        </nb-list>
    </nb-card>
  </div>
  <div class="col-md-8">
    <nb-card>
      <label for="journal">Wizard Journal</label>
      <div id="journal" name="journal" rows="8" cols="60" style="background-color: #ece3ff;">
      Be careful wizard, your choices matter. They will appear here.
      </div>
      <br><br>
    </nb-card>
  </div>
</div>
